future
emoji
requests
python-telegram-bot==13.11.0
SQLAlchemy==1.4.32
psycopg2
feedparser
pyowm
pythonping
pynewtonmath
#memes from SkittBot
spongemock
zalgo-text
geopy
nltk
aiohttp>=2.2.5
Pillow>=4.2.0
#Cool stuff by Peak
PyLyrics
#AEX
hurry.filesize
#translator
beautifulsoup4==4.6.3
tldextract
wikipedia
googletrans
alphabet_detector
psutil
nekos.py
cachetools
tldextract
PyYAML
pyowm
wikipedia
bleach
markdown2
