future
emoji==0.6.0
reque
requests>=2.18.4
sqlalchemy>=1.2
python-telegram-bot==12.8
psycopg2
feedparser
pythonping
pynewtonmath
#meme
spongemock
zalgo-text
geopy
nltk
aiohttp>=2.2.5
Pillow>=5.3.0
#Cool stuff
PyLyrics
#AEX
hurry.filesize
#translator
googletrans==3.1.0a0

tldextract
PyYAML
pyowm
wikipedia
bleach
markdown2
